<h3>Consolidado</h3>
<table class="table">
  <thead>
      <tr>
          <th scope="col">Mês</th>
          <th scope="col">Total gasto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of consolidated" > 
         <td>{{col.cMonth}}</td>
         <td>R$ {{col.value.toLocaleString("pt-BR")}}</td>
      </tr>
    </tbody>
  </table> 

<h2> Detalhado </h2>
<table class="table">
  <thead>
      <tr>
          <th scope="col">Origem</th>
          <th scope="col">Categoria</th>
          <th scope="col">Valor gasto</th>
          <th scope="col">Mês</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableItems" > 
        <td>{{item.origem}}</td>   
        <td>{{item.cCategoria}}</td>           
        <td>R$ {{item.valor.toLocaleString("pt-BR")}}</td>
        <td>{{item.cMes_lancamento}}</td>   
      </tr>
    </tbody>
  </table> 
